#hero{
    background: url("/bg-img.jpg");
    height: 70vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#hero div{
    color: white;
    width: 50%;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;

}
nav ul li{
    list-style: none;
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
}
#contact{
    background-color: tomato;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px
    
}
#section div{
    
}